{% extends "encyclopedia/layout.html" %}

{% block title %}
New | Encyclopedia
{% endblock %}

{% block body %}

{% if messages %}

{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</div>
{% endfor %}

{% endif %}

<form action="{% url 'new' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{ form }}
        <button class="btn btn-primary" type="submit">Create new entry</button>
    </div>
</form>
{% endblock %}